<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sass-doc Annotations table</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>
  <body>
    <main id="app">
        <div class="wrapper">

            <h1 class="main-title">Sass Doc</h1>

            <div class="filters">
                <strong class="filters__title">Filters</strong> :
                <template v-for="(filter, index) in filters" class="filters">
                    <a href="#" class="filter" :class="{'is-selected': selectedFilter===index}" @click="filterResults(filter); selectedFilter=index">#{filter}</a><template v-if="index !== filters.length - 1"> | </template>
                </template>
            </div>
            <p class="state">#{filteredAnnotations.length} of #{annotations.length} annotations</p>
            <table class="table-data">
                <thead>
                    <tr>
                        <th v-for="column in columns">#{column}</th>
                    </tr>
                </thead>
                <tbody>
                  <transition-group
                    name="custom-classes-transition"
                    enter-active-class="animated fadeInDown"
                    leave-active-class="animated bounceOutRight">
                    <tr v-for="(annotation, index) in filteredAnnotations" :key="`raw-${index}`">
                        <td>
                          <div class="has-tooltip">
                            <span class="tooltip">#{annotation.Description}</span>
                            #{annotation.Annotation}
                        </div> </td>
                        <td>#{annotation.Description}</td>
                        <td :class="boolClass(annotation.Multiple)">
                          <div :class="annotation.Multiple === 'true' ? 'icon-true' : 'icon-false' ">
                            <span>#{annotation.Multiple}</span>
                          </div>
                        </td>
                        <td><strong>#{annotation.Default}</strong></td>
                        <td><em>#{annotation.Aliases}</em></td>
                        <td :class="[boolClass(annotation.Multiple), annotation.Multiple === 'true' ? 'icon-true' : 'icon-false' ]"><span>#{annotation.Autofilled}</span></td>
                        <td>#{annotation['Allowed on'].join(', ')}</td>
                    </tr>
                  </transition-group>
                </tbody>
            </table>

        </div>
    </main>
    <footer class="footer">
      <div class="footer__top">
        <a href="http://sassdoc.com/">Sass doc</a> |
        <a href="https://sass-lang.com/">Sass</a>
      </div>
      <div class="footer__copy">
        <a href="">&copy; iStuffs</a>

      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="js/main.min.js"></script>
</body>
</html>
